.loader {
    width: 280px;
    height: 280px;
    border: 40px solid rgb(238, 238, 238);
    border-top: 40px solid #366CFF;
    border-radius: 50%;
    animation-name: girar;
    animation-duration: 1.95s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes girar {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .ref::before {
    font-weight: 700;
    color: red;
    content: "Alumno:";
  }
